@page
@model CookUp_Companion_web.Pages.CreateRecipeModel
@{
    ViewData["Title"] = "Add new recipe";
}

<section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                @if (TempData["IsSuccess"] != null && (bool)TempData["IsSuccess"])
                                {
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>Congratulations</strong> You have added new recipe successfully. <br />
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                }
                                <form method="post" enctype="multipart/form-data" class="mx-1 mx-md-4">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">

                                            <label class="form-label" for="recipeTitle"><h2>Title</h2></label>
                                            <input asp-for="RecipeName" id="recipeTitle" class="form-control" placeholder="Give your recipe name" />
                                            <span asp-validation-for="RecipeName" class="text-danger"></span>

                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mb-4">
                                        <img id="selectedAvatar" src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
                                             class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;" alt="example placeholder" />
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="btn btn-primary btn-rounded">
                                            <label class="form-label text-white m-1" for="uploadRecipePicture">Choose file</label>
                                            <input asp-for="RecipePicture" class="form-control d-none" id="uploadRecipePicture" accept="image/png, image/jpeg" onchange="displaySelectedImage(event, 'selectedAvatar')" />
                                            <span asp-validation-for="RecipePicture" class="text-danger"></span>

                                            
                                        </div>
                                    </div>
                                    

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">

                                            <label class="form-label" for="recipeDescription"><h2>Description</h2></label>
                                            <textarea id="recipeDescription" asp-for="RecipeDescription" class="form-control" placeholder="Introduce your recipe, add notes, cooking tips, serving suggestions, etc..."></textarea>
                                            <span asp-validation-for="RecipeDescription" class="text-danger"></span>

                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <div class="ingredients-container">
                                                <label class="form-label" for="recipeDescription"><h2>Ingredients</h2></label>
                                                <!-- Dynamic ingredient input fields will be added here -->
                                                <!-- Dynamic ingredient input fields will be added here -->
                                                
                                            </div>
                                            <button class="btn btn-success add-ingredient">Add Ingredient</button>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">

                                            <div class="instructions-container">
                                                <label class="form-label" for="recipeDescription"><h2>Instructions</h2></label>
                                                <!-- Dynamic instruction input fields will be added here -->
                                                <div class="instruction-input">

                                                   
                                                    <textarea asp-for="Instructions" class="form-control instruction" placeholder="Paste one or multiple steps"></textarea>
                                                    <span asp-validation-for="Instructions" class="text-danger"></span>
                                                    <button class="btn btn-danger remove-instruction">Remove</button>
                                                </div>
                                            </div>
                                            <button class="btn btn-success add-instruction">Add Instruction</button>

                                        </div>
                                    </div>

                                   @*  <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">

                                            <label class="form-label" for="recipeServings"><h2>Servings</h2></label>
                                            <input type="number" asp-for="Servings" id="recipeServings" min="0" class="form-control" placeholder="How many portions does this recipe make?" />
                                            <span asp-validation-for="Servings" class="text-danger"></span>

                                        </div>
                                    </div> *@

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">

                                            <label class="form-label" for="recipePrepTime"><h2>Prep time</h2></label>
                                            <p>How long does it take to prepare this recipe?</p>
                                            <div class="PrepatationTime">
                                                <p>Hours</p>
                                                <input type="number" asp-for="PrepHours" id="recipePrepTimeHours" min="0" max="9" class="form-control" placeholder="Hours 0" />
                                                <span asp-validation-for="PrepHours" class="text-danger"></span>
                                                <p>Minutes</p>
                                                <input type="number" asp-for="PrepMinutes" id="recipePrepTimeMin" min="0" max="59" class="form-control" placeholder="Minutes 0" />
                                                <span asp-validation-for="PrepMinutes" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">

                                            <label class="form-label" for="recipeCookTime"><h2>Cook time</h2></label>
                                            <p>How long does it take to cook this recipe?</p>
                                            <div class="CookTime">
                                                <p>Hours</p>
                                                <input type="number" asp-for="CookHours" id="recipeCookTimeHours" min="0" max="9" class="form-control" placeholder="Hours 0" />
                                                <span asp-validation-for="CookHours" class="text-danger"></span>
                                                <p>Minutes</p>
                                                <input type="number" asp-for="CookMinutes" id="recipeCookTimeMin" min="0" max="59" class="form-control" placeholder="Minutes 0" />
                                                <span asp-validation-for="CookMinutes" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-lg submitCreateRecipe text-center"
                                            style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                        Create recipe
                                    </button>
                                </form>


                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>