@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="IndexPage">
    <div class="section hpanel leftpan">
        <div class="background-img">
            <div class="content-area">
                <div class="container-index">
                    <div class="header">
                        <h1>Enjoy Your Special Delicious Meal</h1>
                        <p>We make it easy for you to give your guests the same experience online that they expect within your doors</p>
                        <div class="buttons">
                            <button class="order-button">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Recipes">Recipes</a>
                            </button>
                        </div>
                    </div>
                    <div class="stats">
                        <div class="stat">
                            <img src="/images/Reviews.jpg" alt="Reviews">
                            <span class="number">15K Reviews</span>
                        </div>
                        <div class="stat">
                            <img src="/images/Recipes.png" alt="Recipes">
                            <span class="number">400+ Recipes</span>
                        </div>
                        <div class="stat">
                            <img src="/images/Ingredients.png" alt="Food Items">
                            <span class="number">400+ Food Items</span>
                        </div>
                    </div>

                

                </div>
            </div>
        </div>
    </div>
    <div class="section hpanel rightpan">
        <div class="background-img-right">
        </div>
    </div>
</div>