@page
@model CookUp_Companion_web.Pages.LoginModel
@{
}

<section class="vh-100">
    <div class="card-login text-black" style="border-radius: 25px;"">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    @if (TempData["IsLogInError"] != null && (bool)TempData["IsLogInError"])
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <strong>Opps </strong>@if (ViewData["EmailPasswordError"] != null)
                                        {
                                            <span class="text-danger">@ViewData["EmailPasswordError"]</span>
                                        } 
                                        
                                        <br />
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                    }
                    @if (TempData["IsBanned"] != null && (bool)TempData["IsBanned"])
                    {
                            string reason = TempData["BanReason"] as string;
                                    <!-- Modal -->
                                    <div class="modal fade" id="banModal" tabindex="-1" aria-labelledby="banModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="banModalLabel">You are currently banned!</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>You have been banned from accessing the platform. If you believe this is a mistake, you can appeal the ban by providing your reasons below:</p>
                                                    <p>Ban Reason: @reason</p>
                                                    <form method="post" action="/Appeal">
                                                        <div class="form-group">
                                                            <label for="appealMessage">Appeal Message:</label>
                                                            <textarea class="form-control" id="appealMessage" name="appealMessage" rows="3" required></textarea>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">Submit Appeal</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    
                    }


                    <form method="post">
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                            <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </button>

                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-twitter"></i>
                            </button>

                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-linkedin-in"></i>
                            </button>
                        </div>

                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0">Or</p>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <span asp-validation-for="Email" class="text-danger"></span>
                                
                            <input asp-for="Email" id="email" class="form-control form-control-lg" 
                                   placeholder="Enter a email address" />
                            <label class="form-label" for="email">Email address</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <span asp-validation-for="Password" class="text-danger"></span>
                             
                            <input type="password" asp-for="Password" id="password" class="form-control form-control-lg" 
                                   placeholder="Enter password" />
                            <label class="form-label" for="password">Password</label>
                        </div>
                        <div><h6 class="error-message">@ViewData["Error"]</h6></div>
                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                <label class="form-check-label" for="form2Example3">
                                    Remember me
                                </label>
                            </div>
                            <a href="#!" class="text-body">Forgot password?</a>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                Login
                            </button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">
                                Don't have an account? <a asp-page="/SignUp"
                                                          class="link-danger">Register</a>
                            </p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
   
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <!-- JavaScript to show the modal when page loads -->
    <script>
        $(document).ready(function () {
            $('#banModal').modal('show');
        });
    </script>
}