@page
@model CookUp_Companion_web.Pages.RecipeModel
@{
}


<body>
    
    <div class="wrapper-grid">
        <div class="card-recipe">
            <img class="card-img-top" src="./images/bucatini-with-mushroom-ragu-dandelion-greens-and-tarragon-FT-RECIPE0421-3a5f0d29f7264f5e9952d4a3a51f5f58.jpg" alt="Card image">
            <div class="card-img-overlay">
                <div class="card-top">
                    <div class="card-left">
                        <div class="like-container">
                            <button id="likebtn"><i class="fa-solid fa-thumbs-up fa-lg" style="color: #ffffff;"></i></button>
                            <p>90%</p>
                        </div>
                    </div>
                    <div class="card-right">
                        <div class="bookmark-container">
                            <button id="savebtn" ><i class="fa-regular fa-bookmark fa-lg" style="color: #ffffff;"></i><span class="save-tooltip">Save</span></button>
                            <p>36.5k</p>
                            
                        </div>
                        </div>
                </div>
                <div class="card-bottom">
                    <div class="card-left"><button id="creator">creator username</button></div>
                    <div class="card-right"><button id="more"><i class="fa-solid fa-ellipsis"></i></button></div>
                </div>
            </div>
        </div>

        <div class="card-recipe">
            <img class="card-img-top" src="./images/bucatini-with-mushroom-ragu-dandelion-greens-and-tarragon-FT-RECIPE0421-3a5f0d29f7264f5e9952d4a3a51f5f58.jpg" alt="Card image">
            <div class="card-img-overlay">
                <div class="card-top">
                    <div class="card-left">
                        <div class="like-container">
                            <button id="likebtn"><i class="fa-solid fa-thumbs-up fa-lg" style="color: #ffffff;"></i></button>
                            <p>90%</p>
                        </div>
                    </div>
                    <div class="card-right">
                        <div class="bookmark-container">
                            <button id="savebtn"><i class="fa-regular fa-bookmark fa-lg" style="color: #ffffff;"></i><span class="save-tooltip">Save</span></button>
                            <p>36.5k</p>

                        </div>
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="card-left"><button id="creator">creator username</button></div>
                    <div class="card-right"><button id="more"><i class="fa-solid fa-ellipsis"></i></button></div>
                </div>
            </div>
        </div>

        <div class="card-recipe">
            <img class="card-img-top" src="./images/bucatini-with-mushroom-ragu-dandelion-greens-and-tarragon-FT-RECIPE0421-3a5f0d29f7264f5e9952d4a3a51f5f58.jpg" alt="Card image">
            <div class="card-img-overlay">
                <div class="card-top">
                    <div class="card-left">
                        <div class="like-container">
                            <button id="likebtn"><i class="fa-solid fa-thumbs-up fa-lg" style="color: #ffffff;"></i></button>
                            <p>90%</p>
                        </div>
                    </div>
                    <div class="card-right">
                        <div class="bookmark-container">
                            <button id="savebtn"><i class="fa-regular fa-bookmark fa-lg" style="color: #ffffff;"></i><span class="save-tooltip">Save</span></button>
                            <p>36.5k</p>

                        </div>
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="card-left"><button id="creator">creator username</button></div>
                    <div class="card-right"><button id="more"><i class="fa-solid fa-ellipsis"></i></button></div>
                </div>
            </div>
        </div>


        <div class="card-recipe">
            <img class="card-img-top" src="./images/bucatini-with-mushroom-ragu-dandelion-greens-and-tarragon-FT-RECIPE0421-3a5f0d29f7264f5e9952d4a3a51f5f58.jpg" alt="Card image">
            <div class="card-img-overlay">
                <div class="card-top">
                    <div class="card-left">
                        <div class="like-container">
                            <button id="likebtn"><i class="fa-solid fa-thumbs-up fa-lg" style="color: #ffffff;"></i></button>
                            <p>90%</p>
                        </div>
                    </div>
                    <div class="card-right">
                        <div class="bookmark-container">
                            <button id="savebtn"><i class="fa-regular fa-bookmark fa-lg" style="color: #ffffff;"></i><span class="save-tooltip">Save</span></button>
                            <p>36.5k</p>

                        </div>
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="card-left"><button id="creator">creator username</button></div>
                    <div class="card-right"><button id="more"><i class="fa-solid fa-ellipsis"></i></button></div>
                </div>
            </div>
        </div>

        <div class="card-recipe">
            <img class="card-img-top" src="./images/bucatini-with-mushroom-ragu-dandelion-greens-and-tarragon-FT-RECIPE0421-3a5f0d29f7264f5e9952d4a3a51f5f58.jpg" alt="Card image">
            <div class="card-img-overlay">
                <div class="card-top">
                    <div class="card-left">
                        <div class="like-container">
                            <button id="likebtn"><i class="fa-solid fa-thumbs-up fa-lg" style="color: #ffffff;"></i></button>
                            <p>90%</p>
                        </div>
                    </div>
                    <div class="card-right">
                        <div class="bookmark-container">
                            <button id="savebtn"><i class="fa-regular fa-bookmark fa-lg" style="color: #ffffff;"></i><span class="save-tooltip">Save</span></button>
                            <p>36.5k</p>

                        </div>
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="card-left"><button id="creator">creator username</button></div>
                    <div class="card-right"><button id="more"><i class="fa-solid fa-ellipsis"></i></button></div>
                </div>
            </div>
        </div>

        <div class="card-recipe">
            <img class="card-img-top" src="./images/bucatini-with-mushroom-ragu-dandelion-greens-and-tarragon-FT-RECIPE0421-3a5f0d29f7264f5e9952d4a3a51f5f58.jpg" alt="Card image">
            <div class="card-img-overlay">
                <div class="card-top">
                    <div class="card-left">
                        <div class="like-container">
                            <button id="likebtn"><i class="fa-solid fa-thumbs-up fa-lg" style="color: #ffffff;"></i></button>
                            <p>90%</p>
                        </div>
                    </div>
                    <div class="card-right">
                        <div class="bookmark-container">
                            <button id="savebtn"><i class="fa-regular fa-bookmark fa-lg" style="color: #ffffff;"></i><span class="save-tooltip">Save</span></button>
                            <p>36.5k</p>

                        </div>
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="card-left"><button id="creator">creator username</button></div>
                    <div class="card-right"><button id="more"><i class="fa-solid fa-ellipsis"></i></button></div>
                </div>
            </div>

            <div class="card-recipe">
            <img class="card-img-top" src="./images/bucatini-with-mushroom-ragu-dandelion-greens-and-tarragon-FT-RECIPE0421-3a5f0d29f7264f5e9952d4a3a51f5f58.jpg" alt="Card image">
            <div class="card-img-overlay">
                <div class="card-top">
                    <div class="card-left">
                        <div class="like-container">
                            <button id="likebtn"><i class="fa-solid fa-thumbs-up fa-lg" style="color: #ffffff;"></i></button>
                            <p>90%</p>
                        </div>
                    </div>
                    <div class="card-right">
                        <div class="bookmark-container">
                            <button id="savebtn"><i class="fa-regular fa-bookmark fa-lg" style="color: #ffffff;"></i><span class="save-tooltip">Save</span></button>
                            <p>36.5k</p>

                        </div>
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="card-left"><button id="creator">creator username</button></div>
                    <div class="card-right"><button id="more"><i class="fa-solid fa-ellipsis"></i></button></div>
                </div>
            </div>

                <div class="card-recipe">
                    <img class="card-img-top" src="./images/bucatini-with-mushroom-ragu-dandelion-greens-and-tarragon-FT-RECIPE0421-3a5f0d29f7264f5e9952d4a3a51f5f58.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <div class="card-top">
                            <div class="card-left">
                                <div class="like-container">
                                    <button id="likebtn"><i class="fa-solid fa-thumbs-up fa-lg" style="color: #ffffff;"></i></button>
                                    <p>90%</p>
                                </div>
                            </div>
                            <div class="card-right">
                                <div class="bookmark-container">
                                    <button id="savebtn"><i class="fa-regular fa-bookmark fa-lg" style="color: #ffffff;"></i><span class="save-tooltip">Save</span></button>
                                    <p>36.5k</p>

                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="card-left"><button id="creator">creator username</button></div>
                            <div class="card-right"><button id="more"><i class="fa-solid fa-ellipsis"></i></button></div>
                        </div>
                    </div>
                </div>
        </div>
        </div>

    </div>
@* 
    <script>
        // Initialize tooltip text to "Save" when the page loads
        document.addEventListener('DOMContentLoaded', function () {
            var saveButtons = document.querySelectorAll('.bookmark-container button');
            saveButtons.forEach(function (button) {
                var saveTooltip = button.querySelector('.save-tooltip');
                saveTooltip.textContent = 'Save';
            });
        });
    </script>
 *@
</body>