@page
@model CookUp_Companion_web.Pages.SavedModel
@{
    ViewData["Title"] = "Saved";
}
<h1>@ViewData["Title"]</h1>

<div class="">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="d-flex" method="post">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>

    <div class="wrapper-grid">
        <div class="card-recipe">
            <img class="card-img-top" src="./images/bucatini-with-mushroom-ragu-dandelion-greens-and-tarragon-FT-RECIPE0421-3a5f0d29f7264f5e9952d4a3a51f5f58.jpg" alt="Card image">
            <div class="card-img-overlay">
                <div class="card-top">
                    <div class="card-left">
                        <div class="like-container">
                            <button id="likebtn"><i class="fa-solid fa-thumbs-up fa-lg" style="color: #ffffff;"></i></button>
                            <p>91%</p>
                        </div>
                    </div>
                    <div class="card-right">
                        <div class="bookmark-container">
                            <button id="savebtn" class="saved"><i class="fa-bookmark fa-lg fa-solid" style="color: rgb(255, 212, 59);" aria-hidden="true"></i><span class="save-tooltip">Remove</span></button>
                            <p>36.5k</p>

                        </div>
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="card-left"><button id="creator">creator username</button></div>
                    <div class="card-right"><button id="more"><i class="fa-solid fa-ellipsis"></i></button></div>
                </div>
            </div>
        </div>

        <div class="card-recipe">
            <img class="card-img-top" src="./images/bucatini-with-mushroom-ragu-dandelion-greens-and-tarragon-FT-RECIPE0421-3a5f0d29f7264f5e9952d4a3a51f5f58.jpg" alt="Card image">
            <div class="card-img-overlay">
                <div class="card-top">
                    <div class="card-left">
                        <div class="like-container">
                            <button id="likebtn"><i class="fa-solid fa-thumbs-up fa-lg" style="color: #ffffff;"></i></button>
                            <p>90%</p>
                        </div>
                    </div>
                    <div class="card-right">
                        <div class="bookmark-container">
                            <button id="savebtn" class="saved"><i class="fa-bookmark fa-lg fa-solid" style="color: rgb(255, 212, 59);" aria-hidden="true"></i><span class="save-tooltip">Remove</span></button>
                            <p>36.5k</p>

                        </div>
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="card-left"><button id="creator">creator username</button></div>
                    <div class="card-right"><button id="more"><i class="fa-solid fa-ellipsis"></i></button></div>
                </div>
            </div>
        </div>

        <div class="card-recipe">
            <img class="card-img-top" src="./images/bucatini-with-mushroom-ragu-dandelion-greens-and-tarragon-FT-RECIPE0421-3a5f0d29f7264f5e9952d4a3a51f5f58.jpg" alt="Card image">
            <div class="card-img-overlay">
                <div class="card-top">
                    <div class="card-left">
                        <div class="like-container">
                            <button id="likebtn"><i class="fa-solid fa-thumbs-up fa-lg" style="color: #ffffff;"></i></button>
                            <p>90%</p>
                        </div>
                    </div>
                    <div class="card-right">
                        <div class="bookmark-container">
                            <button id="savebtn" class="saved"><i class="fa-bookmark fa-lg fa-solid" style="color: rgb(255, 212, 59);" aria-hidden="true"></i><span class="save-tooltip">Remove</span></button>
                            <p>36.5k</p>

                        </div>
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="card-left"><button id="creator">creator username</button></div>
                    <div class="card-right"><button id="more"><i class="fa-solid fa-ellipsis"></i></button></div>
                </div>
            </div>
        </div>

        <div class="card-recipe">
            <img class="card-img-top" src="./images/bucatini-with-mushroom-ragu-dandelion-greens-and-tarragon-FT-RECIPE0421-3a5f0d29f7264f5e9952d4a3a51f5f58.jpg" alt="Card image">
            <div class="card-img-overlay">
                <div class="card-top">
                    <div class="card-left">
                        <div class="like-container">
                            <button id="likebtn"><i class="fa-solid fa-thumbs-up fa-lg" style="color: #ffffff;"></i></button>
                            <p>90%</p>
                        </div>
                    </div>
                    <div class="card-right">
                        <div class="bookmark-container">
                            <button id="savebtn" class="saved"><i class="fa-bookmark fa-lg fa-solid" style="color: rgb(255, 212, 59);" aria-hidden="true"></i><span class="save-tooltip">Remove</span></button>
                            <p>36.5k</p>

                        </div>
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="card-left"><button id="creator">creator username</button></div>
                    <div class="card-right"><button id="more"><i class="fa-solid fa-ellipsis"></i></button></div>
                </div>
            </div>
        </div>

        <div class="card-recipe">
            <img class="card-img-top" src="./images/bucatini-with-mushroom-ragu-dandelion-greens-and-tarragon-FT-RECIPE0421-3a5f0d29f7264f5e9952d4a3a51f5f58.jpg" alt="Card image">
            <div class="card-img-overlay">
                <div class="card-top">
                    <div class="card-left">
                        <div class="like-container">
                            <button id="likebtn"><i class="fa-solid fa-thumbs-up fa-lg" style="color: #ffffff;"></i></button>
                            <p>90%</p>
                        </div>
                    </div>
                    <div class="card-right">
                        <div class="bookmark-container">
                            <button id="savebtn" class="saved"><i class="fa-bookmark fa-lg fa-solid" style="color: rgb(255, 212, 59);" aria-hidden="true"></i><span class="save-tooltip">Remove</span></button>
                            <p>36.5k</p>

                        </div>
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="card-left"><button id="creator">creator username</button></div>
                    <div class="card-right"><button id="more"><i class="fa-solid fa-ellipsis"></i></button></div>
                </div>
            </div>
        </div>

        <div class="card-recipe">
            <img class="card-img-top" src="./images/bucatini-with-mushroom-ragu-dandelion-greens-and-tarragon-FT-RECIPE0421-3a5f0d29f7264f5e9952d4a3a51f5f58.jpg" alt="Card image">
            <div class="card-img-overlay">
                <div class="card-top">
                    <div class="card-left">
                        <div class="like-container">
                            <button id="likebtn"><i class="fa-solid fa-thumbs-up fa-lg" style="color: #ffffff;"></i></button>
                            <p>90%</p>
                        </div>
                    </div>
                    <div class="card-right">
                        <div class="bookmark-container">
                            <button id="savebtn" class="saved"><i class="fa-bookmark fa-lg fa-solid" style="color: rgb(255, 212, 59);" aria-hidden="true"></i><span class="save-tooltip">Remove</span></button>
                            <p>36.5k</p>

                        </div>
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="card-left"><button id="creator">creator username</button></div>
                    <div class="card-right"><button id="more"><i class="fa-solid fa-ellipsis"></i></button></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Remove-->
<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="settingsModalLabel">Settings</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button id="AccountButton" type="button" class="btn btn-light settingsbtn">
                    <div class="leftSettings">Account  </div>
                    <div class="rightSettings"> <!--User.Identity.Email -->user@gmail.com ></div>
                </button>
                <button id="ProfileButton" type="button" class="btn btn-light settingsbtn" onclick="openProfileModal()">
                    <div class="leftSettings">Profile  </div>
                    <div class="rightSettings"><!--User.Identity.FirstName--> <!--User.Identity.Email -->  FirstName LastName ></div>
                    <button id="PreferencesButton" type="button" class="btn btn-light settingsbtn">
                        <div class="leftSettings">Preferances  </div>
                        <div class="rightSettings"> ></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="removeSavedRecipeModal" tabindex="-1" aria-labelledby="removeSavedRecipeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="removeSavedRecipeModalLabel">Are you sure?</h1>
            </div>
            <div class="modal-body">
                <p>Removing this recipe will delete it permanently from saved recipes and posts on your profile.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                <button id="confirmRemoveBtn" type="button" class="btn btn-danger">Remove</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        // Add event listeners to all unsave buttons
        var unsaveButtons = document.querySelectorAll('.bookmark-container button.saved');
        unsaveButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                // Show the modal when unsave button is clicked
                $('#removeSavedRecipeModal').modal('show');

                // Add an event listener to the "Remove" button in the modal
                document.getElementById('confirmRemoveBtn').addEventListener('click', function () {
                    // Remove the corresponding recipe card
                    button.closest('.card-recipe').remove();

                    // Close the modal after removing the recipe
                    $('#removeSavedRecipeModal').modal('hide');
                });
            });
        });

    </script>

}
