html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    width: 90%;
    justify-content: center;
    margin: auto;
    justify-content: center;
    margin-bottom: 60px;
    background-image: url("../images/body.jpg")
}
/* Navigation bar  design */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    background-color: #CDE990;
    text-decoration: underline; /* Underline on hover and when active */
    text-underline-offset: 8px;
}



/* Dropmenu */
.icon-img {
    /* % of the viewport width */
    width: 2vw;
    height: auto;
    margin-right: 15px /* Optional: Add margin to separate the icon from text */
}

/* Profile design*/


.profile-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-bar img {
    width: 200px;
    height: 200px;
    margin-right: 3vw; 
}

#profile-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-label h1 {
    margin: 20px; 
}

#editProfile button {
    margin: 20px; 
}

.recipe-tracking {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 26px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

.recipe-button:hover {
    text-decoration: underline;
    text-decoration-color: gray;
    text-underline-offset: 8px;
}
.recipe-button.selected {
    text-decoration: underline;
    text-underline-offset: 8px;
    color: green;
}
#createdContent,
#activityContent {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profilePic {
    width: 12vw;
    height: 12vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal-element{
    padding: 0.5vw;
}
.modal-element input {
    width: 20vw;
}

/*Setting modal*/

.settingsbtn {
    display: flex;
    width: 80%;
    margin: 2%;
}
.leftSettings {
    flex-grow: 1;
    text-align: left;
}
.rightSettings {
    text-align: right;
}

/* Dislike modal styling*/

.searchIngredient {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.dislikeIngerdient {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.searchIng{
    padding:10px;
}

.dislikeIngredientFrame {
    padding: 10px;
    height: 55px;
    justify-content: center;
    width: fit-content;
}

.dislikeIngredientFrame img {
    width: 50px; 
    height: 50px;
    align-items:flex-start;
    
}

.dislikeIngredientFrame .dislikeIngredientName {
        text-align: center;
        align-content: center;
        flex: 1;
}
.dislikeIngredientFrame .removeDislikeIngredient {
        margin-left: 10px;
}

/*Login page */

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

/*Sign up*/

/*Recipe Card*/

.wrapper-grid {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
}

.card-recipe {
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    background-color: white;
    border-radius: 1rem;
    position: relative;
    margin: 0.5rem;
    --clr-primary: #651fff;
    --clr-gray: #37474f;
    --clr-gray-light: #b0bec5;
    background-size: cover;
    background-position: center;
    height: 300px;
}
.card-recipe p{
    color: black;
}


.card-top {
    display: flex;
    justify-content: space-between;
}
.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.like-container, .bookmark-container {
    display: flex;
    align-items: baseline;
}

.like-container button ,.bookmark-container button {
    background-color: Transparent;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}

.like-container p , .bookmark-container p{
    margin-left: 0.5rem;
}

.bookmark-container {
    position: relative;
    display: flex;
    align-items: baseline;
}
/*Style for search recipe bar*/
.recipeShowFilter {
    display: flex;
    align-items: center; 
    justify-content: space-around; 
    width: 100%;
}

/* Style for the hover effect */
.bookmark-container .save-tooltip,
.bookmark-container .remove-tooltip {
    position: absolute;
    left: -100%; 
    top: 50%; 
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 1);
    padding: 5px 10px; /* Adjust padding as needed */
    border-radius: 5px; /* Optional: Add rounded corners */
    font-size: 14px; 
    justify-content: center;
    opacity: 0; /* Initially hide the save tooltip */
    transition: opacity 0.3s ease; 
}
    .bookmark-container:hover .save-tooltip{
        opacity: 1; /* Show both tooltips on hover */
    }

.card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
}

.card-bottom i {
    border-radius: 50%;
    padding: 0.5rem;
    background-color: white;
    color: black;
}

.card-recipe button {
    background-color: Transparent;
    border: none;
    cursor: pointer;
}

.card-recipe img {
    transition: transform 0.5s ease;
}

.card-recipe:hover img {
    transform: scale(1.1);
}

.card-bottom #creator {
    color: white;
    font-weight: bold;
}
/* Add Recipe Design */

.createRecipeHeader{
    display: flex;
}

/*Planner design*/

.card-planner {
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    background-color: white;
    border-radius: 1rem;
    position: relative;
    margin: 0.5rem;
    --clr-primary: #651fff;
    --clr-gray: #37474f;
    --clr-gray-light: #b0bec5;
    background-size: cover;
    background-position: center;
}


/*Carousel design*/
.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    margin: 0 -5%;
    transform: translateY(-50%);
    width: 5%;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}
.carousel-item{
    cursor: grab;
}
carousel-inner .carousel-item img {
    width: 100px; /* Adjust the width of the images */
    height: auto; /* Maintain aspect ratio */
}


/*Calendar style*/
/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');



.wrapper-calendar {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.calendar-nav {
    display: flex;
    align-items: center;
    justify-items:center;
    padding: 25px 30px 10px;
    justify-content: space-around;
}
.calendar-nav p{
    margin : auto;
}
.calendar-nav .icons {
    display: flex;
}

.calendar-nav .icons span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    align-items: center;
    justify-content:center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}

.icons span:last-child {
    margin-right: -10px;
}

.calendar-nav .icons span:hover {
    background: #f2f2f2;
}

.calendar-nav .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}

.calendar {
    padding: 20px;
}

.calendar a {
    text-decoration: none;
}

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendar .days {
    margin-bottom: 20px;
}

.calendar li {
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
}

.calendar .weeks li {
    font-weight: 500;
    cursor: default;
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}

.days li.inactive {
    color: #aaa;
}

.days li.active {
    color: #fff;
}

.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li.active::before {
    background: #0066CC;
}

.days li.selected {
    background-color: #3498db; /* Add your preferred background color */
    color: #ffffff; /* Add your preferred text color */
    border-radius: 50%; /* Optional: Add rounded corners for a nicer look */
}

    .days li.selected::before {
        background: red;
        color: white;
    }

.days li:not(.active,.selected):hover::before {
    background: #f2f2f2;
}

.container-days{
    min-height: 400px;
    margin: 20px;
    border: 2px dashed #fff;
}
.container-days > div {
    border-top: 1px solid black;
    min-height: 100px;
    background-color: #fff;
}
.container-days {
    justify-content: space-between;
    margin-top: 20px;
}

.day-container {
    border: 1px solid black;
    box-sizing: border-box;
    overflow: hidden; /* Ensure items do not overflow */
}
.recipes {
    display: flex; /* Display recipes horizontally */
    flex-wrap: wrap; /* Allow wrapping if there are more recipes than can fit in one row */
    gap: 20%;
    justify-content: flex-start;
    overflow: auto;
    width: auto
}
@media (max-width: 767px) {
    .carousel-inner .carousel-item img{
        width: 80px; /* Adjust the width of the images for smaller screens */
        
    }
    .recipes {

        justify-content:center;
    }

}

/*Recipe Info */

#recipeInformation {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}
.cardinfo-bottom {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    align-items: center;
}

.cardinfo-bottom i {
    border-radius: 50%;
    padding: 0.9rem 0.5rem 0.9rem 0.5rem;
    background-color: greenyellow;
    color: black;
}


.cardinfo-bottom button {
    display: flex;
    align-items: center; 
    border: none;
    border-radius: 25px; 
    padding: 0.5rem 1rem;
    background-color: white; 
    color: black;
}

.cardinfo-bottom button p {
    margin: 0.3rem; /* Remove default margin */
}

.card-recipeInfo {
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    background-color: white;
    border-radius: 1rem;
    position: relative;
    margin: 0.5rem;
    --clr-primary: #651fff;
    --clr-gray: #37474f;
    --clr-gray-light: #b0bec5;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    max-width: 400px;
}


.card-top {
    display: flex;
    justify-content: space-between;
}

.recipeInfoTop{
    display:flex;
    padding: 50px 50px 50px 0;
}
.recipeInfoHeader{
    padding-top: 5%;
    padding-left: 10%;
}
.recipeInfoHeader h2{
    padding: 0.2rem;
}
.recipeInfo-cookingTime{
    display: flex;
    
}
.timeType{
    color: dimgrey;
    padding: 0 5px 0 5px;
}
.Ingredients {
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
    justify-content: space-between; /* Adjust spacing between columns */
}

.Ingredient {
    width: calc(50% - 10px); /* Calculate width to fit two columns with margin */
    margin-bottom: 1rem;
    display: flex;
    padding: 0.1rem;
    align-items: center; /* Adjust spacing between rows */
}
.Ingredient img {
    border-radius: 50%;
    width: 15%;
    height: auto;
    
}
.IngredientMeasurment{
    padding: 0.5rem;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.recipeIngredientsnNutrition{
    display: flex;
    flex-direction: row;
}
.recipeIngredients {
    flex: 70%; /* Take up 70% of the container */
}
#recipeNutrition {
    flex: 30%; /* Take up 30% of the container */
    margin-left: 20px; /* Add some space between the ingredients and the table */
}
#recipeNutrition table {
    margin: 0 auto; /* Center the table horizontally */
}
#recipeNutrition td {
    padding: 12px; /* Increase the padding of table cells */
}
.Ratings{
    display: flex;
    padding: 0.3rem;
}
.possitiveRatings i {
    border-radius: 50%;
    padding: 0.9rem 0.5rem 0.9rem 0.5rem;
    background-color: greenyellow;
}
.neggativeRatings i {
    transform: rotate(180deg);
    border-radius: 50%;
    padding: 0.9rem 0.5rem 0.9rem 0.5rem;
    background-color: orangered;
}
.possitiveRatings, .neggativeRatings {
    display: flex;
    align-items: center;
    padding: 0.7rem;
}
.Ratings p {
    margin-left: 5px; 
}
.Comment img {
    border-radius: 50%;
    width: 0,5vw;
    height: 0,5vw;
    align-items: center;
}
#RecipeComments{
    align-items: center;
}
.Comment {
    display: flex;
    border: 1px solid grey;
    margin: 10px;
    background-color: whitesmoke;
    border-radius: 25px;
}
.CommentHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.CommentHeader button {
    align-self: flex-start; /* Align the button to the top */
}
.CommentInfo {
    width: 100%; /* Make the CommentInfo div take up the full width */
}
.recipeCreator {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipeCreator a {
    margin-right: auto; 
}

.recipeCreator i {
    margin-left: auto; /* Push the icon to the right */

}
.saveButton {
    background-color: orange;
    color: black;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 1rem; 
    display: flex;
    align-items: center;
}
.saveButton i {
    margin-right: 0.5rem; 
}

/* CreateRecipe */
.PrepatationTime, .CookTime {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 10px;
}
.PrepatationTime input[type="number"],
.CookTime input[type="number"] {
    width: 80px; /* Adjust the width as needed */
}
.submitCreateRecipe {
    display: block;
    margin: 0 auto;
}
/*Rate recipe modal */

.recipeRating {
    display: flex;
    justify-content: space-between;
    padding-bottom:2rem;

}
textarea {
    resize: none;
    width: 350px;
}
.recipeRating label {
    cursor: pointer;
    padding: 30px 30px;
    border: 2px solid #ccc;
    background-color: white;
    border-radius: 50%;
    transition: background-color 0.3s;
}

#like_option:checked + label {
    background-color: #63E6BE; /* Green */
}

#dislike_option:checked + label {
    background-color: orangered; /* Red */
}

input[type="radio"] {
    display: none; /* Hides the radio button but keeps it functional */
}
.ratingBody{
    padding-top: 20px;
}
#RecipeComments_area {
    padding-bottom: 2rem;
}
.Comment img{
    height: 100px;
    width: 100px;
}
.CommentInfo{
    padding-left: 15px;
}
